<!DOCTYPE html>
<html ng-app="StockServiceClient">
<head>
<script type="text/javascript" src="js/angularjs.min.js"></script>
<script type="text/javascript" src="js/application.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" href="css/style.css"></link>
<title>Webclient StockService - Gruppe 1</title>
</head>
<body>
	<!-- Top Div ist für das Login notwendig - Möglicherweis -->
	<div id="top" ng-controller="TopController">
		<unregistered></unregistered>
	</div>
	<div id="middle" class="container" ng-controller="MiddleController">
		<div class="row">
			<div class="col-md-4 contentwrapper">
				<ul class="stockOverview">
					<li ng-repeat="stock in stocks">
						<div class="clickStockDiv" ng-click="getStockhistory(stock.symbol)">
								{{stock.name}} 
								<span ng-show="stock.change < 0" class="red pull-right">{{stock.change}}</span> 
								<span ng-show="stock.change > 0" class="green pull-right">{{stock.change}}</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-md-8">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
						
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 contentWrapper">
							<ul class="horizontal">
								
							</ul>
						</div>
					</div>
				</div>
				Hier kommt das Canvas zum Zeichnen
				<p>{{stockHistory}}</p>
			</div>
		</div>
	</div>
</body>
</html>