<!DOCTYPE html>
<html ng-app="StockServiceClient">
<head>


<script type="text/javascript" src="js/angularjs.min.js"></script>
<script type="text/javascript" src="js/angularjs-cookies.min.js"></script>
<script type="text/javascript" src="js/application.js"></script>
<script type="text/javascript" src="js/authentication.js"></script>
<script type="text/javascript" src="js/authInterceptor.js"></script>
<script type="text/javascript" src="js/canvas.js"></script>


<link rel="stylesheet" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" href="css/style.css"></link>


<title>Webclient StockService - Group 1</title>

</head>
<body ng-controller="MainController">
	<div id="top">
		<unregistered ng-show="!loggedIn"></unregistered>
		<registered ng-show="loggedIn"></registered>
	</div>
	<div id="middle" class="container">
		<div class="row">
			<div class="col-md-5 stockOverview">
				<ul>
					<li ng-repeat="stock in stocks">
						<div class="clickStockDiv" ng-click="getStockhistory(stock)">
								{{stock.name}} 
								<span ng-show="stock.change < 0" class="red pull-right">{{stock.change}} EUR</span> 
								<span ng-show="stock.change >= 0" class="green pull-right">{{stock.change}} EUR</span>
								<div class="row" ng-show="loggedIn">
									<div class="col-md-5">
										<input type="number" ng-model="stockBuyQuantity" min="0" max="{{stock.volume}}"/>
									</div>
									<div class="col-md-5">
										<span>{{stockBuyQuantity * stock.lastTradedPriceOnly}} EUR</span>
									</div>
									<div class="col-md-2">
										<button ng-click="buyStock(stock, stockBuyQuantity)">Buy</button>
									</div>
								</div>
								
								
								
						</div>
					</li>
				</ul>
			</div>
			<div class="col-md-7" ng-show="currentStock != null">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
						<canvas id="graph" width="725" height="380">   
						</canvas> 								
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 stockinfo">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-3">
										{{currentStock.symbol}}
									</div>
									<div class="col-md-3">
										{{currentStock.name}}
									</div>
									<div class="col-md-3">
										Price: {{currentStock.lastTradedPriceOnly}} EUR
									</div>
									<div class="col-md-3">
										Volume: {{currentStock.volume}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="container-fluid" ng-show="loggedIn" id="bottom">
		<div class="row">
			
			<div class="col-md-6">
				<h3>Transactions</h3>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Amount</th>
						<th>Price</th>
						<th>Date</th>
					</tr>
					<tr ng-repeat="transaction in portfolio.transaction" ng-class="transaction.transactionType == 'BUY' ? 'green' : 'red'">
						<td>{{transaction.stock}}</td>
						<td>{{transaction.transactionType}}</td>
						<td>{{transaction.amount}}</td>
						<td>{{transaction.price}} EUR</td>
						<td>{{ transaction.date | date : 'dd.MM.yyyy @ hh:mm'}}</td>
					</tr>
				</table>
			</div>
			<div class="col-md-6">
				<h3>Portfolio</h3>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Total Amount</th>
						<th>Total Sum</th>
						<th>To Sell</th>
						<th>Sell</th>
					</tr>
					<tr ng-repeat="portfolioStock in portfolio.portfolioStock">
						<td>{{portfolioStock.symbol}} - {{portfolioStock.name}}</td>
						<td>{{portfolioStock.amount}}</td>
						<td>{{portfolioStock.balance}} EUR</td>
						<td><input type="number" ng-model="stockSellQuantity" min="0" max="{{portfolioStock.amount}}"/></td>
						<td><button ng-click="sellStock(portfolioStock.symbol, stockSellQuantity)">Sell</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>