<!DOCTYPE html>
<html ng-app="StockServiceClient">
<head>


<script type="text/javascript" src="js/angularjs.min.js"></script>
<script type="text/javascript" src="js/angularjs-cookies.min.js"></script>
<script type="text/javascript" src="js/application.js"></script>
<script type="text/javascript" src="js/canvas.js"></script>


<link rel="stylesheet" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" href="css/style.css"></link>


<title>Webclient StockService - Group 1</title>

</head>
<body>
	<!-- Top Div ist für das Login notwendig - Möglicherweis -->
	<div id="top" ng-controller="TopController">
		<unregistered ng-show="!loggedIn"></unregistered>
		<registered ng-show="loggedIn"></registered>
	</div>
	<div id="middle" class="container" ng-controller="MiddleController">
		<div class="row">
			<div class="col-md-4 stockOverview">
				<ul>
					<li ng-repeat="stock in stocks">
						<div class="clickStockDiv" ng-click="getStockhistory(stock)">
								{{stock.name}} 
								<span ng-show="stock.change < 0" class="red pull-right">{{stock.change}} $</span> 
								<span ng-show="stock.change > 0" class="green pull-right">{{stock.change}} $</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-md-8" ng-show="currentStock != null">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
						<canvas id="graph" width="725" height="380">   
						</canvas> 								
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 stockinfo">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-3">
										{{currentStock.symbol}}
									</div>
									<div class="col-md-3">
										{{currentStock.name}}
									</div>
									<div class="col-md-3">
										Price: {{currentStock.lastTradedPriceOnly}} $
									</div>
									<div class="col-md-3">
										Volume: {{currentStock.volume}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>